*.ipynb*
*.ipynb

# local data
outputs/*
data/*
temp*
test*

# python
.ipynb_checkpoints
*.ipynb
**/__pycache__/

# logs
*.log
*.out

models/*

# Sphinx documentation
docs/*/_build/

#third_party
dist/
build/
**.egg-info/
**__pycache__/
**.cache
ckpts/
**version.py